@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@400;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --clr-primary-light: hsl(235, 18%, 26%);
  --clr-primary-dark: hsl(234, 29%, 20%);
  --clr-primary-transparent: hsla(234, 29%, 20%, 0.25);
  --clr-accent: hsl(4, 100%, 67%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(231, 7%, 60%);

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.62rem;
  --spacing-regular: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2.5rem;
  --spacing-xl: 4rem;

  /* Fonts */
  --font-family: "Roboto", sans-serif;
  --fs-sm: 0.75rem;
  --fs-md: 1rem;
  --fs-lg: 2.5rem;
  --fs-xl: 3.5rem;

  /* Shadows */
  --shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  --shadow-accent: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);

  /* Radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 2.25rem;
}

/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font-family);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Utilities */
.font-body {
  font-size: var(--fs-md);
  color: var(--clr-primary-dark);
}

.size-md {
  margin: var(--spacing-md) 0;
}

/* General */
p {
  max-width: 65ch;
}

h1 {
  color: var(--clr-primary-dark);
  font-size: var(--fs-lg);
  margin-top: var(--spacing-lg);
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: var(--radius-sm);
  width: 100%;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-regular) 3rem;
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
}

.btn:hover,
.btn:active {
  background: linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%);
  box-shadow: var(--shadow-accent);
}

/* Card */
.card {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-height: 100vh;
}

.info {
  padding: 0 var(--spacing-md);
}

.info ul {
  margin-bottom: var(--spacing-lg);
}

.info li {
  display: flex;
  list-style-type: none;
}

.info ul li:nth-child(2) {
  margin: var(--spacing-sm) 0;
}

.info li::before {
  content: url("public/images/icon-list.svg");
  margin-right: var(--spacing-regular);
  display: flex;
}

/* Form styles */
.email-form .label-container {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-sm);
  font-weight: 700;
  margin-bottom: var(--spacing-xs);
  height: 1rem;
}

.email-form .email-label {
  color: var(--clr-primary-dark);
}

.email-form .error-msg {
  color: var(--clr-accent);
}

.email-input {
  width: 100%;
  padding: var(--spacing-regular) 0;
  padding-left: var(--spacing-md);
  border: 1px solid var(--clr-primary-transparent);
  color: var(--clr-primary-dark);
  border-radius: var(--radius-sm);
  background-color: transparent;
}

.invalid-input {
  border-color: var(--clr-accent);
  color: var(--clr-accent);
  background-color: rgba(255, 97, 85, 0.15);
}

/* Info Illustration */
.info-illustration img {
  width: 100%;
  height: 100%;
}

.desktop-illustration {
  display: none;
}

/* Confirmation */
.confirmation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--spacing-md);
}

.confirmation-container {
  margin-top: 9rem;
}

.confirmation img {
  width: 4rem;
}

.hidden {
  display: none;
}

/* media queries */
@media (min-width: 950px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-light);
  }

  h1 {
    font-size: var(--fs-xl);
    margin: 0;
  }

  .btn {
    margin-bottom: 0;
  }

  /* newsletter-card */
  .card {
    flex-direction: row;
    justify-content: center;
    width: 58rem;
    min-height: 40rem;
    margin: 0 var(--spacing-regular);
    background-color: var(--clr-white);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow);
  }

  .info {
    width: 55%;
    padding: 6rem var(--spacing-xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-illustration {
    width: 45%;
    padding: var(--spacing-md);
    padding-left: 0;
  }

  .info-illustration img {
    border-radius: var(--radius-md);
    object-fit: cover;
  }

  .desktop-illustration {
    display: initial;
  }

  .mobile-illustration {
    display: none;
  }

  /* confirmation */
  .confirmation {
    background-color: var(--clr-white);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow);
    padding: var(--spacing-xl);
    padding-top: calc(var(--spacing-xl) - 1rem);
    height: auto;
    width: 31.5rem;
  }

  .confirmation-container {
    margin-top: 0;
  }

  .confirmation img {
    margin-bottom: var(--spacing-lg);
  }

  .confirmation p {
    margin-bottom: var(--spacing-lg);
  }

  .confirmation .btn {
    margin: 0;
  }
}
